@import "../setting/all";

.panel-heading {
  display: -webkit-box;
}

.panel-default:hover {
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

.profile__image img {
  width: 50px;
  height: 50px;
}

.img-circle img {
  width: 100px;
  height: 100px;
}

.panel__original_style {
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  padding: 12px 20px;
}

.img-profile-wrap-xs-original {
  display: inline-block;
  max-width: 20px;
  max-height: 20px;
  overflow: hidden;
  vertical-align: top;
}

.panel__school {
  font-size: 1.2rem;
  font-weight: normal;
  display: flex;
}

.panel__school-title {
  width: 650px;
  @include media_query_pc {
    width: 650px;
  }

  @include media_query_tablet {
    width: 620px;
  }

  @include media_query_phablet {
    width: 580px;
  }

  @include media_query_mobile {
    font-size: 1rem;
    width: 220px;
  }
}

.panel__school-title-area {
  width: 210px;
  font-size: 1rem;
  margin-top: 10px;
  display: flex;

  .text-muted i {
    font-size: 1rem;
  }
}

.panel__school-comment {
  height: 50px;
  margin-top: 20px;
  font-size: 1.4rem;
  border-left: 1px solid #dfe0e1;
  padding-left: 12px;

  @include media_query_mobile {
    font-size: 1rem;
    margin-top: 20px;
    margin-left: 0px;
    padding-top: 10px;
    padding-left: 10px;
  }

  .text-muted i {
    font-size: 1.8rem;
  }
}
