$color-primary-blue: #04a9f4;
$color-primary-deep-blue: #0f9ada;
$color-light-blue: #f3f8fb;
$color-green: #4caf50;
$color-deep-green: #5cb85c;

$color-light-green: #dff0d8;
$color-light-green-border: #3c763d;

$color-light-pink: #f2dede;

$color-red: #e91e63;
$color-light-gray: #e8e9ea;

$color-star-yellow: #f3b724;
