.midashi_style {
  margin: 25px 0 25px 0;
  padding: 13px 28px 12px;
  font-size: 21px;
  font-weight: 700;
  background: #e6f3f9;
}

.content_style {
  font-size: 1.8rem;
  color: gray;
  word-wrap: break-word;
}
