/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_kit
 *= require_tree .
 *= require raty-js/lib/jquery.raty.css
 *= require_self
 */

.field {
  text-align: right;
}

//railsの対応のnotice,alertの名称に対応するため、クラスを作成
.alert-alert {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}

.form_header {
  background: #04a9f4;
  padding: 12px;
  color: #fff;
  text-align: center;
}

.number_skill {
  display: inline-block;
  font-weight: bold;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  border-radius: 50%;
  color: white;
  margin-right: .3em;
  background-color: #04a9f4;
}

.skill__wrap {
  height: 550px;
  padding: 15px;
  background-color: #f3f8fb;
  display: block;
}

.square_btn {
  width:100%;
  position: relative;
  display: inline-block; 
  padding: 1.5em;
  text-decoration: none;
  color: #FFF;
  background: #03A9F4;
  border: solid 1px #0f9ada;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.square_btn:hover {
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

.square_btn_green {
  width:100%;
  position: relative;
  display: inline-block;
  padding: 1.5em;
  text-decoration: none;
  color: #FFF;
  background: #4caf50;
  border: solid 1px #0f9ada;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.square_btn_green:hover {
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

.square_btn:hover {
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

.panel-heading {
  display: -webkit-box;
}

footer {
  margin-top: 10px;;
}
